---js
const eleventyNavigation = {
	key: "",
	order: 1
};

const numberOfLatestPostsToShow = 5;
---

<div class="media-main">
	<img src="blog/icon.png" alt="teleskopio logo" loading="eager"/>
	<div class="text-content">
		<a class="github-button" href="https://github.com/teleskopio/teleskopio/issues" data-color-scheme="no-preference: light; light: light; dark: dark;" data-show-count="true" aria-label="Issue teleskopio/teleskopio on GitHub">Issue</a>
		<a class="github-button" href="https://github.com/teleskopio/teleskopio" data-color-scheme="no-preference: light; light: light; dark: dark;" data-show-count="true" aria-label="Star teleskopio/teleskopio on GitHub">Star</a>
		<p>
			<b>teleskopio</b> - is an open-source small and beautiful Web Kubernetes client.</p>
	</div>
</div>
{% renderTemplate "md" %}

### Features

- Multiple configs support - switch between clusters effortlessly. teleskopio reads `$KUBECONFIG` variable and check `config.yaml` file.
- Simple JWT token authorization.
- Admin and Viewer role - Full access (admin) or Read Only access (viewer) to cluster.
- Cluster overview - get a high-level view of cluster health and activity.
- Resource editor/creator - integrated [Monaco Editor](https://microsoft.github.io/monaco-editor/) with syntax highlighting.
- Live updates - real-time resource changes with Kubernetes watchers.
- `Pod` logs and events - inspect logs and event history directly in the UI.
- Owner links - navigate from a resource to its owner.
- `CRD` - custom resource definition editor.
- Multiple font options - customize the UI appearance.
- Manual `CronJob` triggering
- Scale resources (`Deployments`, `ReplicaSets`)
- Filter `CTRL + F` any resource.
- Jump to section `CTRL + J` any menu.
- Objects multi-select operations (delete, drain, cordon, e.t.c.)
- Kubernetes [resource schemas](https://github.com/yannh/kubernetes-json-schema?tab=readme-ov-file#kubernetes-json-schemas) per API version.
- Light and dark themes.

### Planned Features

- Helm integration. [issue](https://github.com/teleskopio/teleskopio/issues/11)
- MCP server. [issue](https://github.com/teleskopio/teleskopio/issues/15)
- Resource metrics - CPU, memory, and other usage statistics.

### Stack

- **Golang** - Kubernetes golang client.
- **React** - responsive and modern frontend.
- **[shadcn/ui](https://ui.shadcn.com/)** + **Tailwind CSS** - clean and flexible UI components.
- **[lucide.dev](https://lucide.dev/)** - Beautiful & consistent icons.
- **[Monaco Editor](https://microsoft.github.io/monaco-editor/)** - powerful code editor with syntax highlighting.
- **Dynamic resources** - auto-loading resources for flexible navigation.
- **Kubernetes watchers** - instant updates from the cluster.

{% endrenderTemplate %}