---js
const eleventyNavigation = {
	key: "how-tos",
	order: 3
};
---
<h4>The following teleskopio HOWTOs are currently available:</h4>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}