---
layout: layouts/base.njk
---
<style>
	{% include "css/message-box.css" %}
</style>
<div class="message-box">
	<p>
		<em class="small">This is a <b>beta</b> version. Information may be inaccurate or incomplete, and the software is provided "as is." We assume no liability for any issues arising from its use.</em>
	</p>
</div>

{{ content | safe }}