---
layout: layouts/base.njk
---
<!-- Delete this block, which will also remove the component CSS from the bundle -->
<style>{% include "css/message-box.css" %}</style>
<div class="message-box">
	<p><em>Please note: This is a work in progress. You may encounter bugs or unexpected behavior.</em></p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
